<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GiftOfTheGivers</title>
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GiftOfTheGivers.styles.css" asp-append-version="true" />
</head>
<body>
    
    <img src="/resources/images/auth_background_image.png" alt="Auth Background Image" class="background-image"/>

    <main role="main" class="auth">
        @RenderBody()
    </main>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
